// COLORS
$color-primary-dark: #0A192E;
$color-primary-light: lighten($color-primary-dark, 40%);
$color-secondary-dark: #5A1807;
$color-secondary-light: lighten($color-secondary-dark, 40%);


$color-text-primary: #eee;