.navbar {
    background:#0A192E;
    height: 6rem;

    ul {
        list-style: none;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }


    .navbar-link {
        margin-right: 2rem;
        a {
            
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
        }

        a:hover{
            color: red;
            animation: highlightHover 1s ease-in;
        }
    }
}

.nav-link{
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color:red;
        }
    }
}

@keyframes highlightHover {
    0% {
        color: white;
    }

    25% {
        color: red;
    }

    75% {
        color: white;
    }

    100% {
        color: red;
    }
}