.navbar {
    background:#0A192E;
    height: 5vh;

    ul {
        list-style: none;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }


    .navbar-link {
        margin-right: 2rem;
        a {
            text-transform: uppercase;
            vertical-align: middle;
            text-decoration: none;
            color: #fff;
            font-size: 1.6rem;
            padding: 1rem 2rem;
        }

        a:hover{
            color: $color-secondary-light;
            border-bottom: 3px solid $color-secondary-light;
            animation: highlightHover .3s ease-in;
        }
    }
}

@keyframes highlightHover {
    0% {
        color: white;
    }

    25% {
        color: $color-secondary-light;
    }

    75% {
        color: white;
    }

    100% {
        color: $color-secondary-light;
        border-bottom: 3px solid $color-secondary-light;
    }
}

@media screen and (max-width: 75rem) {
    .navbar {
        display: none;
    }
}