.toolbelt {
    &__icon-terraform {
        display: inline-block;
        font-size: 6rem;
        width: 6rem;
        background-color: white;
        background-clip: text;
        color: transparent;
    }
}