.home-header {
    padding: 4em 1em;
    height: 100vh;
    background-color: #0A192E;
    color: #fff;
    position: relative;
    backface-visibility: hidden;

    .container {
        width: 85vw;
    }

    .header-text {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header-text-greeting {
        font-size: 2rem;
        display: block;
        animation: moveInRight 1s ease-out;
    }

    .header-text-name {
        font-size: 8rem;
        display: block;
        text-transform: uppercase;
        animation: moveInLeft 1s ease-out 1s;
        animation-fill-mode: backwards;
    }

    .header-text-name::before {
        content: '';
        background-color: #317eeb;
        width: 200px;
        height: auto;
    }

    .header-text-title {
        // margin-top: -45px;
        font-size: 2rem;
        display: block;
        animation: moveInRight 1s ease-out 2s;
        animation-fill-mode: backwards;
    }

    .header-text-desc {
        width: 20%;
        animation: moveInBottom 1s ease-out 3s;
        animation-fill-mode: backwards;
    }

    .btn-header {
        animation: moveInBottom 1s ease-out 3s;
        animation-fill-mode: backwards;
    }

    .header-text-highlight {
        color: #317eeb;
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}